{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.usuarios.username }} | Update profile</title>
{% endblock %}

{% block container %}



<body bgcolor="#D8D8D8">
<div class="body">
<div class="izquierda">

    <div class="contenido">

    Gracias por registrarte 
 <!-----nombre de id ---->
    <center>
<span id="add">?</span>
<span id="fecha_date">?</span> 
<span id="sutelefono">?</span> 
<span id="entidad">?</span> 
<span id="last_name">?</span> 
<span id="mail">?</span> 
<span id="sex">?</span> 
<span id="dic">?</span>
<span id="cod">?</span>


</center>


    </div>      
</div>
<div class="formulario"><h1><center>Formulario</center></h1>
    <center>Gracias por registrarte </center> <span id="nombre_completo"></span> 
    <p><center>Ingresa tu Nombre: </center><center><input  type="text" name="nombrecompleto" id="va1" placeholder="Enter Name"></center>
   <span id="nombreerror"></span>
    <p><center>Ingresa tu Direccion: </center><center><input  type="text" name="direc" id="val8" placeholder="Enter Direc"></center>
   <span id="nombreerror"></span>
   <p><center>Ingresa tu correo: </center><center><input  type="text" name="correo" id="val6" placeholder="Enter Name"></center>
    <span id="correoerror"></span>
   <p><center>Ingresa tu Apellido: </center><center><input type="text" name="apellido" id="val2" placeholder="Enter last Name"></center>
    <span id="apellidoerror"></span>
   <p><center>Ingresa tu edad:</center><center><input type="int" name="edad" id="val3" placeholder="Enter Age "></center>
    <span id="edaderror"></span>
    <p><center>Ingresa tu Codigo Postal:</center><center><input type="int" name="codigo" id="val9" placeholder="Enter Code "></center>
    <span id="codigoerror"></span>
   <p><center>Ingresa tu Telefono:</center> <center><input type="int" name="telefono" id="val4" placeholder="Enter phone number"></center>
    <span id="telefonoerror"></span>
   <p><center>Ingresa tu Estado:</center><center>
   <select name="estado"id="val5">
     <option value="1">Aguascalientes</option>
     <option value="2">bajacalifornia</option>
     <option value="3">bajacaliforniasur</option>
     <option value="4">campeche</option>
     <option value="5">coahuila</option>
     <option value="6">colima</option>
     <option value="7">chiapas</option>
     <option value="8">chihuahua</option>
     <option value="9">distritofederal</option>
     <option value="10">durango</option>
     <option value="11">guanajuato</option>
     <option value="12">guerrero</option>
     <option value="13">hidalgo</option>
     <option value="14">jalisco</option>
     <option value="15">mexico</option>
     <option value="16">michoacan</option>
     </select>
     </center>

     <p><center>Ingresa tu sexo:</center><center>
   <select name="estado"id="val7">
     <option value="1">Hombre</option>
     <option value="2">Mujer</option>
     </select>
     </center>
      <center><br><br><a href="/usuarios/logout/"> cerrar sesion </a></br></br></center>


   
   
   
   <!---boton----> 
   <center> <span id="result"></span></p>
<p><a href="#"id="calculate" class="button_enviar">enviar</a></p></center></div>
</div>





<footer>


<script type="text/javascript">


    function validar() {
            nombrecompleto= $("#va1").val();
            correo= $("#va1").val();
            apellido= $("#val6").val();
            edad= $("#val3").val();
            telefono= $("#val4").val();
            estado= $("#val5").val();
            sexo= $("#val7").val();
            direc= $("val8").val();
            codigo= $("#val9").val();

            var nombreerror = false;
            var counterror =0;
            if(nombrecompleto.length === 0){

            var nombreerror = true;
            counterror = counterror +1;
            

            
            }


            var direccionerror = false;
            var countdirecerror =0;
            if(direccionerror.length === 0){

            var direccionerror = true;
            countdirecerror = countdirecerror +1;
            

            
            }


            var codigoerror = false;
            var countcoderror =0;
            if(codigoerror.length === 0){

            var codigoerror = true;
            countcoderror = countcoderror +1;
            

            
            }



            var correoerror = false;
            var countcorreoerror =0;
            if(correo.length === 0){

            var correoerror = true;
            countcorreoerror = countcorreoerror +1;
            

            
            }

            var apellidoerror = false;
            var countapellidoerror =0;
            if(apellido.length === 0){

            var apellidoerror = true;
            countapellidoerror = countapellidoerror +1;

            }





            var edadinterror = false;
            if(!$.isNumeric(edad)){
            var edadinterror = true;
            counterror = counterror+1;
            
            }
            var telefonoerror = false;
            if(!$.isNumeric(telefono)){

            var telefonoerror = true;
            counterror = counterror+1;
            
            }
            
            var estadoerror =false;
            if(estado.length === 0){

            var estadoerror = true;
            counterror = counterror+1;

  

            }    

            var sexoerror =false;
            if(sexo.length === 0){

            var sexoerror = true;
            countsexerror = countsexerror+1;

  

            }    


            var edaderror =false;
            if(edad.length === 0){

            var edaderror = true;
            counterror = counterror+1;

  

            }     




                        console.log('edadinterror');
            console.log(edadinterror);

            console.log('telefonoerror');
            console.log(telefonoerror);

            console.log('estadoerror ');
            console.log(estadoerror);



            return {
                counterror: counterror, 
                codigoerror: codigoerror,
                countcoderror: countcoderror,
                nombreerror: nombreerror,
                apellidoerror: apellidoerror,
                telefonoerror: telefonoerror,
                estadoerror: estadoerror,
                edaderror: edaderror,
                sexoerror: sexoerror,
                edadinterror: edadinterror,
                correo: correo,
                direccionerror: direccionerror,
                countdirecerror: countdirecerror,

            }
            
}



    function send() {
        var data_form = {
            nombrecompleto: $("#va1").val(),
            correo: $("#val6").val(),
            apellido: $("#val2").val(),
            edad: $("#val3").val(),
            telefono: $("#val4").val(),
            estado: $("#val5").val(),
            sexo: $("#val7").val(),
            direc: $("#val8").val(),
            codigo: $("#val9").val(),


        }


        console.log(data_form);
        $('#target').html('sending..');

        $.ajax({
            url: '/ajax/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {
                console.log(data);
                $("#add").text(data.nombrecompleto);
                $("#sutelefono").text(data.telefono);
                $("#entidad").text(data.estado);
                $("#fecha_date").text(data.year);
                $("#last_name").text(data.apellido);
                $("#sex").text(data.sexo);
                $("#dic").text(data.direc)
                $("#cod").text(data.codigo)

                errormail = data.errormail

                console.log('errormail');
                console.log(errormail);
                if (errormail==true){
                $("#correoerror").text('este correo ya fue registrado');
            }

                else{

                    $("#correoerror").text('');


            }
        }

        
    });

         }

$('a#calculate').bind('click', function() {




validacion = validar();

if (validacion.counterror == 0 ){
    send();

    $("#estadoerror").text('');
   $("#nombreerror").text('');
   $("#edaderror").text('');
   $("#edadinterror").text('');
   $("#telefonoerror").text('');
   $("#apellidoerror").text('');
   $("#correoerror").text('');
   $("#sexoerror").text('');
   $("#direccionerror").text('');
   $("#codigoerror").text('');


}

 
else {

if(validacion.nombreerror == true){
 $("#nombreerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#nombreerror").text('');
 } 

 if(validacion.codigoerror == true){
 $("#codigoerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#codigoerror").text('');
 } 

 if(validacion.direccionerror == true){
 $("#direccionerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#direccionerror").text('');
 } 

 if(validacion.correoerror == true){
 $("#correoerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#correoerror").text('');
 }

if(validacion.apellidoerror == true){
 $("#apellidoerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#apellidoerror").text('');
 } 

if(validacion.nombreerror == true){
 $("#nombreerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#nombreerror").text('');
 }   

if(validacion.edaderror == true){
 $("#edaderror").text('completa este campo y usa numeros');

    }
else{
    $("#edaderror").text('');
 }   

if(validacion.edadinterror == true){
 $("#edadinterror").text('completa este campo y usa numeros');

    }
    else{
    $("#edadinterror").text('');
 }   

if(validacion.telefonoerror== true){
 $("#telefonoerror").text('completa este campo y usa numeros');

    }
    else{
    $("#telefonoerror").text('');
 }   

 {% endblock %}

if(validacion.estadoerror== true){
 $("#estadoerror").text('completa este campo y usa numeros');

    }

    else{
    $("#estadoerror").text('');
 }   

 if(validacion.sexoerror== true){
 $("#sexoerror").text('completa este campo');

    }

    else{
    $("#estadoerror").text('');
 }   




}



        return false;
    });

</script>



</footer>
</body>


