
.button_enviar{
    padding: 10px 20px;
    background: #dcda19;
    border-radius: 10px;
}
*{
    margin: 0px;
    padding: 0px;
}

.body{  
    margin:auto;
    margin-top: 60px;
    width: 900px;
    height: 500px;
    border: 1px solid black;
}

.izquierda {
    width: 50%;
    height: 500px;
    background-color: red;
    float: left;
}

.formulario{
    width: 400px;
    height: 500px;
    background-color: #848484;
    float: right;
}

.contenido{
    display: block;
    width: auto;
    padding: 30px;
    text-align: center;
}



